* {
    margin: 0;
    padding: 0;
}

button {
    font-size: 1.5rem;
    border-radius: 1rem;
}

.calculator {
    width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: rgb(30, 26, 255);
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 2rem;
}

.calcName {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: monospace;
    color: beige;
}

.calcDisplay {
    height: 10rem;
    width: 80%;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    background-image: linear-gradient(rgb(193, 229, 241), rgb(227, 200, 245));
}

#result, #equation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    overflow: hidden;
}

#result {
    font-size: 2rem;
    height: 30%;
}

#equation {
    font-size: 4rem;
    height: 50%;
}

.numberField {
    width: 75%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.numberField button {
    height: 2rem;
}

.operators {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 80%;
    gap: 1rem;
}

.operators > button {
    height: 3rem;
}

.removeButtons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    width: 80%;
}

#clear, #delete {
    height: 3rem;
    flex: 1;
}